doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="/stylesheets/Bootstrap/css/bootstrap.min.css")
    script(src="/javascripts/Bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/CanvasJS/canvasjs.min.js")
    script(src="/javascripts/JustGauge/raphael-2.1.4.min.js")
    script(src="/javascripts/JustGauge/justgage.js")
    script(src="/javascripts/Plot.ly/plotly-latest.min.js")
    script(src="/javascripts/testing.js")
    
  body
    block content
